{% extends 'base.html.twig' %}

{% block title %}Village Green{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Nos catégories</h1>

        <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for category in categories %}
            <a href="{{ path('category_show', {'id': category.id}) }}">
                <div class="col">
                    <div class="card h-100">
                        <img src="https://via.placeholder.com/150x150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ category.name }}</h5>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
    </div>
{% endblock %}