{% extends 'base.html.twig' %}

{% block title %}Village Green{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>{{ categoryName }}</h1>

        {% for subCategory in subCategories %}
            <a href="">{{ subCategory.name }}</a><br>
        {% endfor %}
    </div>
{% endblock %}
